fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
email-validator
redis
sentence-transformers
faiss-cpu
torch
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
groq
pymupdf
pytest
pytest-asyncio
httpx
